@(message: String)

@main("Welcome to Play") {


  <ul  id="persons">

  </ul>



    <form action="@routes.Application.addPerson()" method="post">
      <input type="text" name="name" />
      <button>Add Person</button>
    </form>

    <script>
    $.ajax({
               type : 'GET',
               url : "@routes.Application.getPersons()",
               dataType : "JSON",
               success : function(data) {
                 for(var i= 0; i< data.length;i++)
                 $('#persons').append('<li>'+data[i].name+'</li>');

               },
               error : function(data) {
                 $('#persons').append('no');

               }
           });
    </script>



}
